* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #dedede;
  background-clip: content-box;
}
:hover::-webkit-scrollbar-track {
  background-color: #dedede;
}
::-webkit-scrollbar-track:hover {
  background-color: #dedede;
}
::-webkit-scrollbar-thumb {
  /*border: 1px solid transparent;*/
  border-radius: 4px;
  background-color: #c2c2c2;
}
:hover::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c2c2c2;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
html,
body {
  min-height: 100%;
}
body {
  height: 100vh;
}
ul,
li {
  list-style: none;
}
.wrapper {
  display: flex;
  background-color: #292c30;
  height: 100%;
}
.wrap-left {
  width: 300px;
  flex-shrink: 0;
}
.nav-box .line {
  height: 1px;
  background-color: #373c41;
  margin: 0 35px;
}
.nav-box .nav-list {
  margin: 27px 14px;
}
.nav-box .nav-list a {
  text-decoration: none;
  line-height: 44px;
  display: block;
  padding: 0 20px;
}
.nav-box .nav-list dl {
  margin-bottom: 0;
}
.nav-box .nav-list dt a {
  color: #63818f;
  font-size: 16px;
  position: relative;
}
.nav-box .nav-list dt i {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
}
.nav-box .nav-list dt i::after,
.nav-box .nav-list dt i::before {
  content: '';
  position: absolute;
  background-color: #7fabbe;
}
.nav-box .nav-list dt i::after {
  width: 100%;
  height: 2px;
  left: 0;
  top: 5px;
}
.nav-box .nav-list dt i::before {
  height: 100%;
  width: 2px;
  left: 5px;
  top: 0;
}
.nav-box .nav-list dd {
  max-height: 0;
  background-color: #373c41;
  transition: all 0.2s ease;
  overflow: hidden;
}
.nav-box .nav-list ul li a {
  color: #dfdddc;
}
.nav-box .nav-list ul li a:hover {
  color: #ffffff;
}
.nav-box .nav-list ul li.active a {
  color: #fff;
}
.nav-box .nav-list .open dt a {
  color: #b8b8b8;
}
.nav-box .nav-list .open dt i::after,
.nav-box .nav-list .open dt i::before {
  background-color: #dededd;
}
.nav-box .nav-list .open dt i:before {
  display: none;
}
.nav-box .nav-list .open dd {
  max-height: 100%;
}
.wrap-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.right-head {
  height: 103px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.right-head h4 {
  color: #b8b8b8;
  font-size: 30px;
  margin-left: 30px;
}
.right-con-box {
  flex-grow: 1;
  background-color: #fff;
  padding: 1px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.con-box-inner {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 1px;
}
.btn-black {
  background-color: #292c30;
  color: #fff;
  width: 255px;
  height: 51px;
  border-radius: 20px;
}
.btn-black:hover {
  background-color: #292c30;
  color: #fff;
}
.panel-box {
  background-color: #e0e5ec;
  border-radius: 0;
}
.panel-box .panel-heading,
.panel-box .panel-body {
  margin: 0 38px;
}
.panel-box .panel-heading {
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #000;
  margin-top: 30px;
  padding: 0 0 5px;
  font-weight: 700;
}
.panel-box .panel-body {
  padding: 30px 0 5px;
}
.panel-box .form-group label {
  font-size: 14px;
  color: #4e5052;
}
.panel-box .form-group input[type="text"],
.panel-box .form-group select {
  background-color: #f1f4f6;
  border: none;
  border-radius: 10px;
  height: 39px;
}
.activity-panel .row {
  display: flex;
  justify-content: stretch;
}
.activity-panel .form-group {
  margin-bottom: 30px;
}
.activity-panel .customer-checkbox {
  padding: 10px 0 30px;
}
.activity-panel select.form-control {
  width: 50%;
}
.activity-panel .panel-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.activity-panel .panel-box .panel-heading {
  border-bottom: none;
}
.activity-panel .panel-box .panel-body {
  flex-grow: 1;
}
.activity-panel .table-panel-box .panel-body {
  padding-top: 15px;
}
.activity-panel .activity-table {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-height: 600px;
  overflow-y: auto;
}
.activity-panel .activity-table .table {
  margin-bottom: 0;
}
.activity-panel .activity-table .table tr th,
.activity-panel .activity-table .table tr td {
  border: 0;
}
.activity-panel .activity-table .table-head {
  margin-bottom: -2px;
  background-color: #f1f4f6;
}
.activity-panel .activity-table .table-head th {
  padding: 15px 10px;
}
.activity-panel .activity-table .table-body tr td {
  padding: 10px;
}
.activity-panel .btn-box {
  padding-top: 40px;
}
.nav-tabs {
  border-bottom: 1px solid #607d8b;
  margin-bottom: 10px;
}
.nav-tabs li a {
  color: #000000;
  border-color: #607d8b;
  border-radius: 0;
  margin-right: -1px;
  width: 230px;
  text-align: center;
}
.nav-tabs li a:hover {
  background-color: transparent;
  border-color: #607d8b;
}
.nav-tabs li.active a:hover {
  background-color: transparent;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  border-color: #607d8b #607d8b transparent;
  background-color: #fff;
}
.calendar-box .date-select-box .work-text {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}
.calendar-box .date-select-box .work-text span {
  margin: 0 10px;
  font-size: 18px;
}
.calendar-box .date-select-box .work-text .left-btn,
.calendar-box .date-select-box .work-text .right-btn {
  width: 15px;
  height: 15px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: #06090f;
}
.calendar-box .date-select-box .work-text .left-btn {
  transform: rotate(-135deg);
}
.calendar-box .date-select-box .work-text .right-btn {
  transform: rotate(45deg);
}
.calendar-box .date-select-box .week-icon {
  width: 35px;
  height: 35px;
  margin-left: 40px;
}
.calendar-table-wrap {
  margin-top: 10px;
  background-color: #f0f4f7;
  flex-grow: 1;
  height: 1px;
  overflow: hidden;
  padding: 0 20px 20px 0;
  display: flex;
}
.calendar-table-wrap .table-left-head {
  overflow-y: auto;
  height: 100%;
  flex-shrink: 0;
  width: 140px;
  margin-top: 60px;
}
.calendar-table-wrap .table-left-head ul {
  margin: 0 12px;
}
.calendar-table-wrap .table-left-head ul li {
  border-top: 1px solid #b5bbc6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.calendar-table-wrap .table-left-head ul li.li-1 {
  height: 30px;
}
.calendar-table-wrap .table-left-head ul li.li-2 {
  height: 60px;
}
.calendar-table-wrap .table-left-head ul li.li-3 {
  height: 90px;
}
.calendar-table-wrap .table-right-con {
  flex-grow: 1;
  width: 1px;
  display: flex;
  flex-direction: column;
}
.calendar-table-wrap .table-top-head {
  height: 60px;
  flex-shrink: 0 ;
}
.calendar-table-wrap .table-top-head ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.calendar-table-wrap .table-top-head ul li {
  border-left: 1px solid #a6acb7;
  flex-grow: 1;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-table-wrap .table-box {
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.calendar-table-wrap .table-box tr td {
  height: 29px;
  border-top: 0;
  color: #727373;
  width: 14.3%;
}
.calendar-table-wrap .table-box tr td img {
  vertical-align: middle;
  margin: 0 10px;
}
