*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #dedede;
    background-clip: content-box;
}

:hover::-webkit-scrollbar-track {
    background-color: #dedede;
}

::-webkit-scrollbar-track:hover {
    background-color: #dedede;
}

::-webkit-scrollbar-thumb {
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    background-color: #c2c2c2;
}

:hover::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c2c2c2;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
html,body{
    min-height: 100%;
}
body{
    height: 100vh;
}
ul,li{
    list-style: none;
}
.wrapper{
    display: flex;
    background-color: #292c30;
    height: 100%;
}
.wrap-left{
    width: 300px;
    flex-shrink: 0;
}

// 导航区域

.nav-box{
    .line{
        height: 1px;
        background-color: #373c41;
        margin: 0 35px;
    }
    .nav-list{
        margin: 27px 14px;
        a{
            text-decoration: none;
            line-height: 44px;
            display: block;
            padding: 0 20px;
        }
        dl{
            margin-bottom: 0;
        }
        dt{
            a{
                color: #63818f;
                font-size: 16px;
                position: relative;
            }
            i{
                position: absolute;
                right: 22px;
                top: 50%;
                transform: translateY(-50%);
                width: 12px;
                height: 12px;
                &::after,
                &::before{
                    content: '';
                    position: absolute;
                    background-color: #7fabbe;
                }
                &::after{
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 5px;
                }
                &::before{
                    height: 100%;
                    width: 2px;
                    left: 5px;
                    top: 0;
                }
            }
        }
        dd{
            max-height: 0;
            background-color: #373c41;
            transition: all .2s ease;
            overflow: hidden;
        }
        ul{
            li{
                a{
                    color: #dfdddc;
                    &:hover{
                        color: #ffffff;
                    }
                }
                &.active{
                    a{
                        color:#fff;
                    }
                }
            }
        }
        .open{
            dt{
                a{
                    color: #b8b8b8;
                }
                i{
                    &::after,
                    &::before{
                        background-color: #dededd;
                    }
                    &:before{
                        display: none;
                    }
                }
            }
            dd{
                max-height: 100%;
            }
        }
    }
}

// 右侧内容区域
.wrap-right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.right-head{
    height: 103px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    h4{
        color: #b8b8b8;
        font-size: 30px;
        margin-left: 30px;
    }
}
.right-con-box{
    flex-grow: 1;
    background-color: #fff;
    padding: 1px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.con-box-inner{
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 1px;
}

.btn-black{
    background-color: #292c30;
    color: #fff;
    width: 255px;
    height: 51px;
    border-radius: 20px;
    &:hover{
        background-color: #292c30;
        color:#fff;
    }
}

.panel-box{
    background-color: #e0e5ec;
    border-radius: 0;
    .panel-heading,
    .panel-body{
        margin: 0 38px;
    }
    .panel-heading{
        color: #000;
        font-size: 14px;
        border-bottom: 1px solid #000;
        margin-top: 30px;
        padding: 0 0 5px;
        font-weight: 700;
    }
    .panel-body{
        padding: 30px 0 5px;
    }
    .form-group{
        label{
            font-size: 14px;
            color: #4e5052;
        }
        input[type="text"], select{
            background-color: #f1f4f6;
            border: none;
            border-radius: 10px;
            height: 39px;
        }
    }
}
.activity-panel{
    .row{
        display: flex;
        justify-content: stretch;
    }
    .form-group{
        margin-bottom: 30px;
    }
    .customer-checkbox{
        padding: 10px 0 30px;
    }
    select.form-control{
        width: 50%;
    }
    .panel-box{
        display: flex;
        flex-direction: column;
        height: 100%;
        .panel-heading{
            border-bottom: none;
        }
        .panel-body{
            flex-grow: 1;
        }
    }
    .table-panel-box{
        .panel-body{
            padding-top: 15px;
        }
    }
    .activity-table{
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        max-height: 600px;
        overflow-y: auto;
        .table{
            margin-bottom: 0;
            tr{
                th, td{
                    border: 0;
                }
            }
        }
        .table-head{
            margin-bottom: -2px;
            background-color: #f1f4f6;
            th{
                padding: 15px 10px;
            }
        }
        .table-body{
            tr{
                td{
                    padding: 10px;
                }
            }
        }
    }
    .btn-box{
        padding-top: 40px;
    }
}

.nav-tabs{
    border-bottom: 1px solid #607d8b;
    margin-bottom: 10px;
    li{
        a{
            color: #000000;
            border-color: #607d8b;
            border-radius: 0;
            margin-right: -1px;
            width: 230px;
            text-align: center;
        }
        a:hover{
            background-color: transparent;
            border-color: #607d8b;
        }
    }
    li.active{
        a:hover{
            background-color: transparent
        }
        a,a:hover,a:focus{
            border-color: #607d8b #607d8b transparent;
            background-color:#fff;
        }
    }
}


.calendar-box{
    .date-select-box{
        .work-text{
            display: inline-flex;
            align-items: center;
            margin-left: 5px;
            span{
                margin: 0 10px;
                font-size: 18px;
            }
            .left-btn, .right-btn{
                width: 15px;
                height: 15px;
                border-width: 2px 2px 0 0;
                border-style: solid;
                border-color: #06090f;
            }
            .left-btn{
                transform: rotate(-135deg);
            }
            .right-btn{
                transform: rotate(45deg);
            }
        }
        .week-icon{
            width: 35px;
            height: 35px;
            margin-left: 40px;
        }
    }
}

.calendar-table-wrap{
    margin-top: 10px;
    background-color: #f0f4f7;
    flex-grow: 1;
    height: 1px;
    overflow: hidden;
    padding: 0 20px 20px 0;
    display: flex;
    .table-left-head{
        overflow-y: auto;
        height: 100%;
        flex-shrink: 0;
        width: 140px;
        margin-top: 60px;
        ul{
            margin: 0 12px;
            li{
                border-top: 1px solid #b5bbc6;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                &.li-1{
                    height: 30px;
                }
                &.li-2{
                    height: 60px;
                }
                &.li-3{
                    height: 90px;
                }
            }
        }
    }
    .table-right-con{
        flex-grow: 1;
        width: 1px;
        display: flex;
        flex-direction: column;
    }
    .table-top-head{
        height: 60px;
        flex-shrink: 0 ;
        ul{
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            li{
                border-left: 1px solid #a6acb7; 
                flex-grow: 1;
                height: 37px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .table-box{
        overflow-y: auto;
        height: 100%;
        flex-grow: 1;
        background-color:#fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        tr{
            td{
                height: 29px;
                border-top: 0;
                color: #727373;
                width: 14.3%;
                img{
                    vertical-align: middle;
                    margin: 0 10px;
                }
            }
        }
    }
}
